{% extends 'base.html'%}

{% block conteudo%}

<div class="container">
    <h2>Sobre o projeto</h2>
    <p>O projeto consiste na criação de um site para organizar os horários de estudos dos alunos do IFZN. Naquele semestre o site identificaria as disciplinas e criaria um sistema automático de estudos de acordo com as disciplinas, turno de aula, horários  e principalmente quantas horas a pessoa pretende estudar por dia. A princípio a ideia é que seja algo logado pelo suap. Pensamos em ser algo bem dinâmico e interativo. Um dos pontos que estamos dando devida importância é a acessibilidade.</p>
    
    <h2>Motivações</h2>
    <p>A gestão do tempo é tão importante pois ela permite clareza nas escolhas e possibilita dedicar melhor o seu tempo aos estudos. Também ser mais produtivo e ter maior foco e concentração. Tudo isso para que, ao final do dia, você possa sentir aquele sentimento de dever comprido.</p>
    <p>Hoje em dia temos que lidar com vários compromissos ao mesmo tempo, então nada melhor que nos organizar de forma dinâmica e interativa.</p>
    
    <h2></h2>
</div>

{% endblock%}
