{% extends 'base.html'%}

{% block conteudo%}

<div class="container">
    <h2>Sobre o projeto</h2>
    <p>O projeto consiste na criação de um site que funcionará como uma espécie de agenda, organizando os horários de estudos dos alunos do IFZN. Durante o semestre o site identificará a disponibilidade de disciplinas e criará um sistema automático de estudos, tendo como referência essa disponibilidade, o turno de aula do estudante, os horários vagos e, principalmente, quantas horas/dia o usuário pretende estudar.</p>
    <p>A princípio, a ideia é que o site/agenda seja acessado via senha do SUAP. Outros pontos de destaque serão a interatividade e a acessibilidade, para que possamos, de forma inclusiva, atingir uma maior diversidade de estudantes.</p>
    
    <h2>Motivações</h2>
    <p>A gestão do tempo é tão importante pois ela permite clareza nas escolhas e possibilita dedicar melhor o seu tempo aos estudos. Também ser mais produtivo e ter maior foco e concentração. Tudo isso para que, ao final do dia, você possa sentir aquele sentimento de dever cumprido.</p>
    <p>Hoje em dia temos que lidar com vários compromissos ao mesmo tempo, então nada melhor que nos organizar de forma dinâmica e interativa.</p>
    
    <h2></h2>
</div>

{% endblock%}
